body {
    background-color: #2B2D32;
    color: rgb(174, 174, 174);
    font-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
}

#text {
    width:100px;
}

.textcard {
    a {color: #e3e3e3}
    min-height: 4.4vw;
    min-width: 10em;
    padding: 0.6em;
    border: 10px solid #3d4045;
    background-color: #3d4045;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

a {
    color: black;
}

a:hover {
    color: green
}

img {
    min-width: 2vh;
    max-width: 3vh;
    aspect-ratio: 1 / 1;
    margin: 0.3vw
}
code {
    color: darkgreen;
    text-wrap: wrap;
    height: 120px;
    max-width: 100%;
}

.item {
    margin: 1em;
    display:flex;
    flex-direction: row;
    background: #313338;
    padding: 1em;
    font-weight: 700;
    align-items:center;
    text-align: center;
    border: 10px solid #313338;
    border-radius: 10px;
    gap: 5px 5px;
    justify-content: space-evenly;
    flex-wrap:wrap
}

.card {
    min-height: 4.4vw;
    min-width: 10em;
    padding: 0.6em;
    border: 10px solid #3d4045;
    background-color: #3d4045;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.container {
    height: 75vh;
    margin: 5%;
    display: flex;
    all:auto;
}
@media screen and (max-width: 900px) {
.container {
    flex-direction: column
}
.item {
    width: 80%;
}

}