body {
    background-color: #2B2D32;
    color: rgb(174, 174, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
}

img {
    width: 3vw;
    aspect-ratio: 1 / 1;
    margin: 1em;
}

.item {
    word-wrap: break-word;
    background-color: #313338;
    width: 30%;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border: 10px solid #313338;
    border-radius: 10px;
}

#card {
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: #3d4045;
    width: 70%;
}

.container {
    height: 75vh;
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}