body {
    background-color: #2B2D32;
    color: rgb(174, 174, 174);
    font-size: auto;
    font-family: cursive, sans-serif;
}

.textcard {
    width:100%;
    a {color: #e3e3e3}
    min-height: 4.4vw;
    min-width: 10em;
    padding: 0.6em;
    border: 10px solid #3d4045;
    background-color: #3d4045;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

a {
    transition: color 0.2s;
    color: black;
    font-size: 110%;
}

a:hover {
    color: green
}

img {
    min-width: 2vh;
    max-width: 3vh;
    aspect-ratio: 1 / 1;
    margin: 0.3vw
}
code {
    color: darkgreen;
    text-wrap: wrap;
    height: 120px;
    max-width: 100%;
}

.item {
    margin: 1em;
    display:flex;
    background: #313338;
    padding: 1em;
    font-weight: 700;
    align-items:center;
    text-align: center;
    border: 10px solid #313338;
    border-radius: 10px;
    gap: 5px 5px;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.card {
    min-height: 4.4vw;
    min-width: 10em;
    padding: 0.6em;
    border: 10px solid #3d4045;
    background-color: #3d4045;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    border: yellow;
}

#python {
    background: linear-gradient(135deg, rgba(0,148,179,1) 14%, rgba(182,215,46,1) 100%);
    width:43%;
}
#pyqt {
    background: linear-gradient(-45deg, rgba(0,255,240,1) 14%, rgba(182,215,46,1) 100%);
    width:43%
}
#sql {
    background: linear-gradient(135deg, rgba(177,177,177,1) 14%, rgba(93,93,93,1) 100%);
    width:43%
}
#kivy {
    background: linear-gradient(-90deg, rgba(177,177,177,1) 14%, rgba(93,93,93,1) 100%);
    width:43%
}
#html {
    background: linear-gradient(135deg, rgba(255,169,64,1) 0%, rgba(119,109,88,1) 100%);
    width: 43%;
}
#json {
    background: linear-gradient(-70deg, rgba(238,236,57,1) 10%, rgba(0,0,0,1) 100%);
    width: 43%;
}
#css {
    background: linear-gradient(135deg, rgba(0,20,200,1) 0%, rgba(88,91,119,1) 100%);
    width: 43%
}


#todo {
    width: 29%;
    background: linear-gradient(122deg, rgba(153,88,144,1) 0%, rgba(64,39,59,1) 100%);
}
#tswebsite {
    width:29%;
    background: linear-gradient(122deg, rgba(204,150,79,1) 0%, rgba(90,100,227,1) 100%);
}
#brc {
    width:29%;
    background: linear-gradient(94deg, rgba(255,255,255,1) 14%, rgba(93,103,226,1) 100%);
}

.container {
    min-height: 75vh;
    margin: 5%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.right-menu {
    display: flex;
    flex-direction:column;
    align-items:center;
}

@media screen and (max-width: 1400px) {
.container {
    flex-direction: column;
    align-items: center;
}
.item {
    width: 80%;
}

}